/*footer vista desktop*/ 

.bgFooter{
    background-image: url(../assets/img/bgFooter2.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 30vh;
             
}

.footer__imagenesRedes--size img{
	
	width:80px-20px;
}

.paddingWhat{

	margin: 20px;
}

.paddingIns{

	margin: 20px;
}

.footer__position{

    position: relative;
    top: 5%;

    
    
}

.logoBardoFooter{

    width: 200px;
}

