
body{

    background-color: rgb(255, 255, 255);
}


nav{
    display: flex;
    justify-content: center;
    align-content: flex-end ;
    

    li a{
        font-size: 180%;
        color: rgba(206, 206, 206, 0.788);
        font-family: 'Cormorant Garamond';

    
    }
}

header{

       
}

@mixin make-row($gutter: $grid-gutter-width) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter / 2;
    margin-left: -$gutter / 2;
  }

.bgImage {
    background-image: url(../assets/img/manosMasa.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    box-shadow: 2px 2px 2px grey;
    
        
}



img.bardoLogo{

    width: 40%;
    display: flex;
    position: relative;
    left: 2%;
    bottom: 2%;
    margin: 6%;

}








/*vista desktop*/ 

@media only screen and (max-width: 767px) and (min-width: 768){

    img.logoChico{

        display: none;
    }      

}

/*vista desktop*/ 

@media only screen and (max-width: 767px) {

    .bgImage{

    
    background-size: 100%;
    
    
}
    img.logoGrande{

    display: none;
}

}