div .navbar-collapse{

    justify-content: center;

    a{
        font-size: 120%;
    }
}

.bgImage {
    background-image: url(../assets/img/harina-4.jpg);
    background-position: top;
   
    background-repeat: no-repeat;
    height: 80vh;
}

div img{

    opacity: 0.6;
    
}

/*vista desktop*/ 

@media only screen and (min-width: 768){

}

/*vista desktop*/ 

@media only screen and (max-width: 767px) {

    .bgImage{

    
    background-size: 100%;
    
    
}

}