/*main index.html vista desktop */ 

.fila__conservas--posicion {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fila__panes--posicion {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 


body{

    background-color: rgba(236, 234, 234, 0.959);
}

/*Se elimina subrayado y colores de los a href*/ 

a {
    
    }
    a:hover {
      
      text-decoration: none; }

.btn-primary {
    color: #fff!important;
    background-color: #86898b!important;
    border-color: #f7f9fc!important; 
  } 
  
/*Imagen Bardo index*/   

img.bardoLogo{

    width: 40%;
    display: flex;
    position: relative;
    left: 2%;
    bottom: 2%;
    margin: 6%;

}

/*propiedades de mapa entregas.html*/ 

div .map{

    height: 600px;
    width: 400px;
}

/*Vista Mobile*/

@media only screen and (min-width:0px) and (max-width:767px){

    img.bardoLogo{

        width: 70%;
    }

    /*propiedades de mapa entregas.html*/ 

    div .map{

        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px; 
    }

    
      


    




}