/*Textos main html desktop*/ 

div h2{

    font-family: 'Jost', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    color: rgba(134, 137, 93, 0.774);
    
}

div p{

    font-family: 'Jost', sans-serif;
    padding: 2%;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgba(31, 28, 28, 0.719);
}

/*Textos main footer desktop*/ 

.textoFooter{

    font-family: 'Cormorant Garamond';
    font-size: 2rem;
    color: rgba(211, 205, 205, 0.822);
}

/*Titulos desktop*/ 

div h1{
    
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Jost', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    color: rgba(134, 137, 93, 0.774);
    

}

/*Subtitulos desktop*/

div h3{
    
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    padding: 2%;
    font-weight: 300;
    font-size: 3rem;
    color: rgba(31, 28, 28, 0.719);

}

div h5{

    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(134, 137, 93, 0.774);

}

/*Vista Mobile*/

@media only screen and (min-width:0px) and (max-width:767px){

/*Textos main html mobile*/    

    div h2{
        font-size: 2.5rem;
        font-weight: 300;
    }

    div p{

        font-weight: 300;
        font-size: 1rem;
        display: flex;
        text-align: center;
        }

        

/*Titulos mobile*/

    div h1{
        
        font-size: 3rem;
        font-weight: 200;
        
    }

/*Subtitulos*/

    div h3{
    
        font-weight: 300;
        font-size: 1.5rem;
        color: rgba(31, 28, 28, 0.719);

    }

/*Texto footer*/ 

    .textoFooter{

        font-size: 1.5rem;
    }    
}